<main id="model">
    
    <section id="insert">
        <form action="">
            <input type="text">
            <input type="submit" value="Adicionar">
        </form>
    </section>
    
    <section id="select">
        <form action="">
            <input type="text">
            <input type="submit" value="Buscar">
        </form>
    </section>

    <section>
        <table>
            <div id="head">
                <button id="reload" (click)="recaregarTabela()"><img src="/assets/icons/reload.svg" alt="reload"></button>
                <h2>Tabela de Emprestimos</h2>
            </div>
            <tr>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Finalidade</th>
                <th>ID do Material</th>
                <th>ID da Pessoa</th>
            </tr>
            <tbody *ngFor="let emprestimo of emprestimos">
                <td>{{ emprestimo.dataInicial }}</td>
                <td>{{ emprestimo.dataFinal }}</td>
                <td>{{ emprestimo.finalidade }}</td>
                <td>{{ emprestimo.idMaterial }}</td>
                <td>{{ emprestimo.idPessoa }}</td>
                <div>
                    <button id="bt-editar" (click)="editarEmprestimo(emprestimo)">Editar</button>
                </div>
                <app-atualizar-emprestimo></app-atualizar-emprestimo>
            </tbody>
        </table>
    </section>

</main>