<main id="model">
    
    <div id="insert-select">
        <section id="insert">
            <h2>Adicionar Emprestimo</h2>
            <form (submit)="submit()" [formGroup]="emprestimoInForm" #formDir="ngForm">
                <div class="inp">
                    <label for="dataInicial">Data Inicial</label>
                    <input formControlName="dataInicial" type="date" min="2023-12-01">
                </div>
                <div class="inp">
                    <label for="dataFinal">Data Final</label>
                    <input formControlName="dataFinal" type="date" min="2023-12-01" max="2030-12-30">
                </div>
                <div class="inp">
                    <label for="finalidade">Finalidade</label>
                    <input formControlName="finalidade" type="text" placeholder="Qual o uso para o material">
                </div>
                <div class="inp">
                    <label for="pessoaId">Pessoa</label>
                    <select formControlName="pessoaId" name="pessoas" id="pessoas">
                        <option *ngFor="let pessoa of pessoas" value="{{ pessoa.id }}">{{ pessoa.nome }}</option>
                    </select>
                </div>
                <div class="inp">
                    <label for="materialId">Material</label>
                    <select formControlName="materialId" name="material" id="material">
                        <option *ngFor="let material of materiais" value="{{ material.id }}">{{ material.nome }}</option>
                    </select>
                </div>
                <div class="inp">
                    <input type="submit" value="Adicionar">
                </div>
            </form>
        </section>

        <section id="select">
            <h2>Buscar Emprestimos</h2>
                <input type="text">
                <input type="submit" value="Buscar">
        </section>
    </div>

    <section>
        <div id="head">
            <button id="reload" (click)="recaregarTabela()"><img src="/assets/icons/reload.svg" alt="reload"></button>
            <h2>Tabela de Emprestimos</h2>
            <button (click)="colunasE = !colunasE">Exibir Colunas Ocultas</button>
        </div>
        <table>
            <tr>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Finalidade</th>
                <th>ID do Material</th>
                <th>ID da Pessoa</th>
                <th *ngIf="colunasE">Data de Criação</th>
                <th *ngIf="colunasE">Data de Alteração</th>
            </tr>
            <tbody *ngFor="let emprestimo of emprestimos.reverse()">
                <td>{{ emprestimo.dataInicial | date:'mediumDate' }}</td>
                <td>{{ emprestimo.dataFinal | date:'mediumDate' }}</td>
                <td>{{ emprestimo.finalidade }}</td>
                <td>{{ emprestimo.materialId }}</td>
                <td>{{ emprestimo.pessoaId }}</td>
                <td *ngIf="colunasE">{{ emprestimo.createdAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ emprestimo.updatedAt | date:'medium' }}</td>
                <div>
                    <button id="bt-editar" (click)="editarEmprestimo(emprestimo)">Editar</button>
                </div>
                <app-atualizar-emprestimo></app-atualizar-emprestimo>
            </tbody>
        </table>
    </section>

</main>