<section id="atualizar" *ngIf="atualizar.pessoa">
    <div id="background"></div>
    <form (submit)="submit()" [formGroup]="pessoaForm" #formDir="ngForm">
        <div id="head">
            <h4>Alterar Pessoa</h4>
            <button id="sair" (click)="atualizar.limpar()">X</button>
        </div>
        <div id="campos">
            <input formControlName="id" type="hidden" value="{{ atualizar.pessoa.id }}">
            <label class="alt-label">Nome da Pessoa</label>
            <input formControlName="nome" type="text" value="" placeholder="{{ atualizar.pessoa.nome }}">
            <label class="alt-label">E-Mail</label>
            <input formControlName="email" type="email" value="" placeholder="{{ atualizar.pessoa.email }}">
            <label class="alt-label">Telefone</label>
            <input formControlName="telefone" type="tel" value="" placeholder="{{ atualizar.pessoa.telefone }}">
            <label class="alt-label">Público</label>
            <input formControlName="publico" type="text" value="" placeholder="{{ atualizar.pessoa.publico }}">
        </div>
        <div id="sub">
            <input type="submit" value="Salvar">
            <button *ngIf="verificaNivel()" (click)="removePessoa(atualizar.pessoa.id!)"><img id="icon-remover" src="/assets/icons/remover.svg" alt="Ícone Remover">Excluir</button>
        </div>
    </form>
</section>