<section id="atualizar" *ngIf="atualizar.acesso">
    <div id="background"></div>
    <form (submit)="submit()" [formGroup]="acessoForm" #formDir="ngForm">
        <div id="head">
            <h4>Alterar Acesso</h4>
            <button id="sair" (click)="atualizar.limpar()">X</button>
        </div>
        <div id="campos">
            <input formControlName="id" type="hidden" value="{{ atualizar.acesso.id }}">
            <input formControlName="finalidade" type="text" value="" placeholder="{{ atualizar.acesso.finalidade }}">
            <input formControlName="pessoaId" type="number" value="" placeholder="{{ atualizar.acesso.pessoaId }}">
        </div>
        <div id="sub">
            <input type="submit" value="Salvar">
            <button (click)="removeAcesso(atualizar.acesso.id!)">Excluir</button>
        </div>
    </form>
</section>