<main id="model">

    <section id="insert">
        <form action="">
            <input type="text">
            <input type="submit" value="Adicionar">
        </form>
    </section>

    <section id="select">
        <form action="">
            <input type="text">
            <input type="submit" value="Buscar">
        </form>
    </section>

    <section>
        <div id="head">
            <button id="reload" (click)="recaregarTabela()"><img src="/assets/icons/reload.svg" alt="reload"></button>
            <h2>Tabela de Pessoas</h2>
            <button (click)="colunasE = !colunasE">Exibir Colunas Ocultas</button>
        </div>
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Público</th>
                <th>ID</th>
                <th *ngIf="colunasE">Data de Criação</th>
                <th *ngIf="colunasE">Data de Alteração</th>
            </tr>
            <tbody *ngFor="let pessoa of pessoas">
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.email }}</td>
                <td>{{ pessoa.telefone }}</td>
                <td>{{ pessoa.publico }}</td>
                <td>{{ pessoa.id }}</td>
                <td *ngIf="colunasE">{{ pessoa.createdAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ pessoa.updatedAt | date:'medium' }}</td>
                <div>
                    <button id="bt-editar" (click)="editarPessoa(pessoa)">Editar</button>
                </div>
                <app-atualizar-pessoa></app-atualizar-pessoa>
            </tbody>
        </table>
    </section>
    
</main>