<main id="model">
    <div id="insert-select">
        <section id="insert">
            <h2>Adicionar Pessoa</h2>
            <form (submit)="submit()" [formGroup]="pessoaInForm" #formDir="ngForm">
                <div class="inp">
                    <label for="nome">Nome</label>
                    <input formControlName="nome" type="text" placeholder="Nome Completo da Pessoa">
                </div>
                <div class="inp">
                    <label for="email">Email</label>
                    <input formControlName="email" type="email" placeholder="Email para Contato">

                </div>
                <div class="inp">
                    <label for="telefone">Telefone</label>
                    <input formControlName="telefone" type="tel" placeholder="Telefone para Contato">
                </div>
                <div class="inp">
                    <label for="publico">Público</label>
                    <input formControlName="publico" type="text" placeholder="Ex: discente, docente, visitante...">
                </div>
                <div class="inp">
                    <input type="submit" value="Adicionar">
                </div>
            </form>
        </section>

        <section id="select">
            <h2>Buscar Pessoas</h2>
            <div class="inp">
                <label for="buscar">Buscar por Nome</label>
                <div  class="find">
                    <input type="search" [(ngModel)]="nomeBuscar">
                    <input type="submit" value="Buscar" (click)="getPessoasPorNome(nomeBuscar)">
                </div>
            </div>
            <div class="inp">
                <label for="buscar">Buscar por Público</label>
                <div class="find">
                    <input type="search" [(ngModel)]="publicoBuscar">
                    <input type="submit" value="Buscar" (click)="getPessoasPorPublico(publicoBuscar)">
                </div>
            </div>
        </section>
    </div>
    
    <section>
        <div id="head">
            <button id="reload" (click)="recaregarTabela()"><img src="/assets/icons/reload.svg" alt="reload"></button>
            <h2>Tabela de Pessoas</h2>
            <button (click)="colunasE = !colunasE">Exibir Colunas Ocultas</button>
        </div>
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Público</th>
                <th *ngIf="colunasE">Data de Criação</th>
                <th *ngIf="colunasE">Data de Alteração</th>
                <th *ngIf="colunasE">ID</th>
            </tr>
            <tbody *ngFor="let pessoa of pessoas.reverse()">
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.email }}</td>
                <td>{{ pessoa.telefone }}</td>
                <td>{{ pessoa.publico }}</td>
                <td *ngIf="colunasE">{{ pessoa.createdAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ pessoa.updatedAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ pessoa.id }}</td>
                <div>
                    <button id="bt-editar" (click)="editarPessoa(pessoa)">Editar</button>
                </div>
                <app-atualizar-pessoa></app-atualizar-pessoa>
            </tbody>
        </table>
    </section>

</main>