<section id="atualizar" *ngIf="atualizar.projeto">
    <div id="background"></div>
    <form (submit)="submit()" [formGroup]="projetoForm" #formDir="ngForm">
        <input formControlName="id" type="hidden" value="{{ atualizar.projeto.id }}">
        <input formControlName="nome" type="text" value="" placeholder="{{ atualizar.projeto.nome }}">
        <input formControlName="descricao" type="text" value="" placeholder="{{ atualizar.projeto.descricao }}">
        <div id="sub">
            <input type="submit" value="Salvar">
            <button (click)="atualizar.limpar()">Cancelar</button>
        </div>
    </form>
</section>