<section id="atualizar" *ngIf="atualizar.projeto">
    <div id="background"></div>
    <form (submit)="submit()" [formGroup]="projetoForm" #formDir="ngForm">
        <div id="head">
            <h4>Alterar Projeto</h4>
            <button id="sair" (click)="atualizar.limpar()">X</button>
        </div>
        <div id="campos">
            <input formControlName="id" type="hidden" value="{{ atualizar.projeto.id }}">
            <input formControlName="nome" type="text" value="" placeholder="{{ atualizar.projeto.nome }}">
            <input formControlName="descricao" type="text" value="" placeholder="{{ atualizar.projeto.descricao }}">
        </div>
        <div id="sub">
            <input type="submit" value="Salvar">
            <button *ngIf="verificaNivel()" id="bt-excluir" (click)="removeProjeto(atualizar.projeto.id!)"><img id="icon-remover" src="/assets/icons/remover.svg" alt="Ícone Remover">Excluir</button>
        </div>
    </form>
</section>