<section id="atualizar" *ngIf="atualizar.emprestimo">
    <div id="background"></div>
    <form (submit)="submit()" [formGroup]="emprestimoForm" #formDir="ngForm">
        <div id="head">
            <h4>Alterar Emprestimo</h4>
            <button id="sair" (click)="atualizar.limpar()">X</button>
        </div>
        <div id="campos">
            <input formControlName="id" type="hidden" value="{{ atualizar.emprestimo.id }}">
            <input formControlName="dataInicial" type="date" value=""
                placeholder="{{ atualizar.emprestimo.dataInicial }}">
            <input formControlName="dataFinal" type="date" value="" placeholder="{{ atualizar.emprestimo.dataFinal }}">
            <input formControlName="finalidade" type="text" value=""
                placeholder="{{ atualizar.emprestimo.finalidade }}">
                <input formControlName="quantidade" type="number" value="1" min="1" placeholder="{{ atualizar.emprestimo.quantidade }}">
            <input formControlName="materialId" type="number" value=""
                placeholder="{{ atualizar.emprestimo.materialId }}">
            <input formControlName="pessoaId" type="number" value="" placeholder="{{ atualizar.emprestimo.pessoaId }}">
        </div>
        <div id="sub">
            <input type="submit" value="Salvar">
            <button *ngIf="verificaNivel()" id="bt-excluir" (click)="removeEmprestimo(atualizar.emprestimo.id!)"><img id="icon-remover" src="/assets/icons/remover.svg" alt="Ícone Remover">Excluir</button>
        </div>
    </form>
</section>