<main id="model">
    
    <div id="insert-select">
        <section id="insert">
            <h2>Adicionar Projeto</h2>
            <form (submit)="submit()" [formGroup]="projetoInForm" #formDir="ngForm">
                <div class="inp">
                    <label for="nome">Nome do Projeto</label>
                    <input formControlName="nome" type="text" placeholder="Escreva o Nome do Projeto">
                </div>
                <div class="inp">
                    <label for="descricao">Descrição</label>
                    <input formControlName="descricao" type="text" placeholder="Descreva o Projeto">
                </div>
                <div class="inp">
                    <input type="submit" value="Adicionar">
                </div>
            </form>
        </section>

        <section id="select">
            <h2>Buscar Projeto</h2>
            <div class="inp">
                <label for="buscar">Buscar por Nome</label>
                <div  class="find">
                    <input type="search" [(ngModel)]="nomeBuscar">
                    <input class="buscar" type="submit" value="Buscar" (click)="getProjetoPorNome(nomeBuscar)">
                </div>
            </div>
        </section>
    </div>

    <section>
        <div id="head">
            <button id="reload" (click)="recaregarTabela()"><img src="/assets/icons/reload.svg" alt="reload"></button>
            <h2>Tabela de Projetos</h2>
            <button (click)="colunasE = !colunasE">Exibir Colunas Ocultas</button>
        </div>
        <table>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th *ngIf="colunasE">Data de Criação</th>
                <th *ngIf="colunasE">Data de Alteração</th>
                <th *ngIf="colunasE">ID</th>
            </tr>
            <tbody *ngFor="let projeto of projetos">
                <td>{{ projeto.nome }}</td>
                <td>{{ projeto.descricao }}</td>
                <td *ngIf="colunasE">{{ projeto.createdAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ projeto.updatedAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ projeto.id }}</td>
                <div>
                    <button id="bt-editar" (click)="editarProjeto(projeto)">Editar</button>
                </div>
            </tbody>
            <app-atualizar-projeto></app-atualizar-projeto>
        </table>
    </section>

</main>