<main id="model">
    
    <section id="insert">
        <form action="">
            <input type="text">
            <input type="submit" value="Adicionar">
        </form>
    </section>
    
    <section id="select">
        <form action="">
            <input type="text">
            <input type="submit" value="Buscar">
        </form>
    </section>

    <section>
        <table>
            <h2>
                Tabela de Projetos
            </h2>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
            <tbody *ngFor="let projeto of projetos">
                <td>{{ projeto.nome }}</td>
                <td>{{ projeto.descricao }}</td>
                <div>
                    <button id="bt-editar" (click)="editarProjeto(projeto)">Editar</button>
                    <button id="bt-excluir" (click)="removeProjeto(projeto.id!)">Excluir</button>
                </div>
            </tbody>
            <app-atualizar-projeto></app-atualizar-projeto>
        </table>
    </section>

</main>