<section id="atualizar" *ngIf="atualizar.material">
    <div id="background"></div>
    <form (submit)="submit()" [formGroup]="materialForm" #formDir="ngForm">
        <div id="head">
            <h4>Alterar Material</h4>
            <button id="sair" (click)="atualizar.limpar()">X</button>
        </div>
        <div id="campos">
            <input formControlName="id" type="hidden" value="{{ atualizar.material.id }}">
            <input formControlName="nome" type="text" value="" placeholder="{{ atualizar.material.nome }}">
            <input formControlName="descricao" type="text" value="" placeholder="{{ atualizar.material.descricao }}">
            <input formControlName="tipo" type="text" value="" placeholder="{{ atualizar.material.tipo }}">
        </div>
        <div id="sub">
            <input type="submit" value="Salvar">
            <button *ngIf="verificaNivel()" (click)="removeMaterial(atualizar.material.id!)"><img id="icon-remover" src="/assets/icons/remover.svg" alt="Ícone Remover">Excluir</button>
        </div>
    </form>
</section>