@import "/src/styles/variables.less";

#center() {
  display: flex;
  justify-content: center;
  align-items: center;
  .row {
    flex-direction: row;
  }
  .column {
    flex-direction: column;
  }
}

#artigo() {
  #center.column();
  flex-wrap: nowrap;
  h1 {
    margin: 20px 0px;
    text-align: center;
  }
  p {
    text-align: justify;
    text-indent: 20px;
  }
  ul {
    margin-left: 80px;
  }
  div {
    #center();
  }
}

#menu() {
  li {
    list-style: none;
    a {
      color: @link;
      text-decoration: none;
      &:hover {
        color: @sobre;
        text-decoration: underline;
        transition: 0.4s;
      }
    }
  }
}

#dashboard() {
  display: grid;
  grid-template-columns: 38px auto 20vw;
  grid-template-rows: 5vh 95vh;
  grid-template-areas:
    "logo" "header" "sair"
    "sidemenu" "tabela" "local";
  header {
    grid-area: "logo" "header" "sair";
  }
  nav {
    grid-area: "sidemenu";
    #center.column();
  }
  section {
    grid-area: "tabela";
  }
  aside {
    grid-area: "local";
  }
  * {
    overflow: hidden;
  }
}
