<div>
    <h2>IFMaker</h2>
    <p>
        O IFMAKER é integrante do projeto Rede Maker, iniciado em 2019, a partir da elaboração do Edital 35/2020 para criação de Laboratórios de Prototipagem.
    </p>
    <p>
        O IFMAKER tem como objetivo disseminar os princípios que norteiam o ensino Maker (fazer), ancorado na cultura  DIY (do it youself ou faça você mesmo), visando auxiliar os professores e técnicos administrativos no desenvolvimento da cultura learning by doing (aprender na prática), levando-os a refletir sobre o uso da aprendizagem baseada em projetos e sobre como as atividades práticas podem ser utilizadas nestes espaços como suporte ao processo de ensino-aprendizagem de todas as áreas do conhecimento, o que permitirá que o estudante seja protagonista neste processo, e que seja estimulado o envolvimento com as necessidades da região.
    </p>
</div>
