<article>
    <h1>IF Maker</h1>
    <p>
        O IF Maker é integrante do projeto Rede Maker, iniciado em 2019, a partir da elaboração do Edital 35/2020 para
        criação de Laboratórios de Prototipagem. O IF Maker tem como objetivo disseminar os princípios que norteiam o
        ensino Maker (fazer), ancorado na cultura DIY (do it youself ou faça você mesmo), visando auxiliar os
        professores e técnicos administrativos no desenvolvimento da cultura learning by doing (aprender na prática),
        levando-os a refletir sobre o uso da aprendizagem baseada em projetos e sobre como as atividades práticas podem
        ser utilizadas nestes espaços como suporte ao processo de ensino-aprendizagem de todas as áreas do conhecimento,
        o que permitirá que o estudante seja protagonista neste processo, e que seja estimulado o envolvimento com as
        necessidades da região.
    </p>

    <div>
        <img src="/assets/images/ifmaker-banner.png" alt="">
    </div>

    <h1>Quais são os objetivos dos Laboratórios IF Maker?</h1>
    <p>
        Os Laboratórios IF Maker têm como objetivo estimular o espírito de criação e inovação nos estudantes, integrando
        novas tecnologias e a sala de aula; promover a aprendizagem de forma mais prática e ativa; auxiliar professores
        e técnicos-administrativos em educação no desenvolvimento da cultura learning by doing (aprender fazendo),
        levando-os a refletir sobre o uso da Aprendizagem Baseada em Projetos e sobre como ela pode ser utilizada nestes
        espaços como suporte ao processo de ensino-aprendizagem de todas as áreas do conhecimento, permitindo que o
        aluno seja protagonista nesse processo e que o envolvimento com as necessidades da sociedade onde a unidade
        acadêmica está inserida seja estimulado.
    </p>

    <h1>Linhas de Pesquisa</h1>
    <p>
        O Lab IF Maker atua no sentido de dar suporte à projetos de Extensão, Pesquisa e Inovação nos eixos de:
    </p>
    <ul>
        <li>Mecânica;</li>
        <li>Elétrica</li>
        <li>Robótica;</li>
        <li>Internet das Coisas;</li>
    </ul>

    <div>
        <img src="/assets/logos/ifmaker-svsv2white.svg" alt="">
    </div>
</article>