<main id="model">

    <div id="insert-select">
        <section id="select">
            <h2>Buscar Pessoas</h2>
                <input type="text">
                <input type="submit" value="Buscar">
        </section>
    </div>

    <section>
        <div id="head">
            <button id="reload" (click)="recaregarTabela()"><img src="/assets/icons/reload.svg" alt="reload"></button>
            <h2>Tabela de Registros</h2>
            <button (click)="colunasE = !colunasE">Exibir Colunas Ocultas</button>
        </div>
        <table>
            <tr>
                <th>ID do Usuário</th>
                <th>Atividade</th>
                <th>Descrição</th>
                <th *ngIf="colunasE">Data de Criação</th>
                <th *ngIf="colunasE">Data de Alteração</th>
            </tr>
            <tbody *ngFor="let registro of registros">
                <td>{{ registro.usuarioId }}</td>
                <td>{{ registro.atividade }}</td>
                <td>{{ registro.descricao }}</td>
                <td *ngIf="colunasE">{{ registro.createdAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ registro.updatedAt | date:'medium' }}</td>
                <div>
                    <button id="bt-editar" (click)="editarRegistro(registro)">Editar</button>
                </div>
                <app-atualizar-registro></app-atualizar-registro>
             </tbody>
        </table>
    </section>

</main>