<section id="atualizar" *ngIf="atualizar.pessoaProjeto">
    <div id="background"></div>
    <form (submit)="submit()" [formGroup]="pessoaprojetoForm" #formDir="ngForm">
        <div id="head">
            <h4>Alterar Pessoa em Projeto</h4>
            <button id="sair" (click)="atualizar.limpar()">X</button>
        </div>
        <div id="campos">
            <input formControlName="pessoaId" type="number" value=""
                placeholder="{{ atualizar.pessoaProjeto.pessoaId }}">
            <input formControlName="idProjeto" type="number" value=""
                placeholder="{{ atualizar.pessoaProjeto.idProjeto }}">
        </div>
        <div id="sub">
            <input type="submit" value="Salvar">
            <button id="bt-excluir" (click)="removePessoaProjeto(atualizar.pessoaProjeto.pessoaId!)">Excluir</button>
        </div>
    </form>
</section>