<main id="model">
    
    <section id="insert">
        <form action="">
            <input type="text">
            <input type="submit" value="Adicionar">
        </form>
    </section>
    
    <section id="select">
        <form action="">
            <input type="text">
            <input type="submit" value="Buscar">
        </form>
    </section>

    <section>
        <table>
            <div id="head">
                <button id="reload" (click)="recaregarTabela()"><img src="/assets/icons/reload.svg" alt="reload"></button>
                <h2>Tabela de Materiais</h2>
            </div>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Quantidade</th>
            </tr>
            <tbody *ngFor="let material of materiais">
                <td>{{ material.nome }}</td>
                <td>{{ material.descricao }}</td>
                <td>{{ material.tipo }}</td>
                <td>{{ material.quantidade }}</td>
                <div>
                    <button id="bt-editar" (click)="editarMaterial(material)">Editar</button>
                </div>
                <app-atualizar-material></app-atualizar-material>
            </tbody>
        </table>
    </section>

</main>