<main id="model">
    
    <div id="insert-select">
        <section id="insert">
            <h2>Adicionar Material</h2>
            <form (submit)="submit()" [formGroup]="materialInForm" #formDir="ngForm">
                <div class="inp">
                    <label for="nome">Nome do Material <span class="required">*</span></label>
                    <input formControlName="nome" type="text" placeholder="Nome do material">
                </div>
                <div class="inp">
                    <label for="descricao">Descrição</label>
                    <input formControlName="descricao" type="text" placeholder="Descreva o material ou status">
                </div>
                <div class="inp">
                    <label for="tipo">Tipo de Material <span class="required">*</span></label>
                    <input formControlName="tipo" type="text" placeholder="Ex: notebook, esp-32, filamento...">
                </div>
                <div class="inp">
                    <input type="submit" value="Adicionar">
                </div>
            </form>
        </section>

        <section id="select">
            <h2><img id="icon" src="/assets/icons/buscar.svg" alt="Ícone Buscar">Buscar Materiais</h2>
            <div class="inp">
                <label for="buscar">Buscar por Nome</label>
                <div  class="find">
                    <input type="search" [(ngModel)]="nomeBuscar">
                    <input class="buscar" type="submit" value="Buscar" (click)="getMaterialPorNome(nomeBuscar)">
                </div>
            </div>
            <div class="inp">
                <label for="buscar">Buscar por Tipo</label>
                <div class="find">
                    <input type="search" [(ngModel)]="tipoBuscar">
                    <input class="buscar" type="submit" value="Buscar" (click)="getMaterialPorTipo(tipoBuscar)">
                </div>
            </div>
        </section>
    </div>

    <section>
        <div id="head">
            <button id="reload" (click)="recaregarTabela()"><img src="/assets/icons/reload.svg" alt="reload"></button>
            <h2>Tabela de Materiais</h2>
            <button (click)="colunasE = !colunasE">Exibir Colunas Ocultas</button>
        </div>
        <table>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th *ngIf="colunasE">Data de Criação</th>
                <th *ngIf="colunasE">Data de Alteração</th>
                <th *ngIf="colunasE">ID</th>
            </tr>
            <tbody *ngFor="let material of materiais">
                <td>{{ material.nome }}</td>
                <td>{{ material.descricao }}</td>
                <td>{{ material.tipo }}</td>
                <td *ngIf="colunasE">{{ material.createdAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ material.updatedAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ material.id }}</td>
                <div>
                    <button id="bt-editar" (click)="editarMaterial(material)"><img id="icon-editar" src="/assets/icons/editar.svg" alt="Ícone Editar">Editar</button>
                </div>
                <app-atualizar-material></app-atualizar-material>
            </tbody>
        </table>
    </section>

</main>