@import "/src/styles/mixins.less";
@import "/src/styles/variables.less";

div {
    #dashboard();

    header {
        min-height: 5vh;
        max-height: 5vh;
        color: black;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: @branca;
        border-bottom: solid 1px grey;
        div {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            margin-left: 10px;
            img {
                width: 42px;
            }
            h3 {
                margin-left: 10px;
            }
        }
    }

    #conteudo {
        display: flex;
        flex-direction: row-reverse;
        section {
            max-height: 95vh;
            min-height: 95vh;
            width: 85vw;
        }
        nav {
            min-height: 95vh;
            width: 15vw;
            background-color: white;
            border-right: solid 1px grey;
            color: @fundo2;
            display: flex;
            justify-content: start;
            flex-direction: column;
            flex-wrap: wrap;
            a {
                color: @fundo2;
                background-color: rgb(248, 248, 248);
                font-size: larger;
                border-radius: 10px;
                text-transform: capitalize;
                text-indent: 10px;
                border-bottom: solid 1px @aceitar;
                text-decoration: none;
                width: 90%;
                margin: 10px auto;
            }
        }
    }
}