@import "/src/styles.less";

div {
    #dashboard();
    header {
        min-height: 5vh;
        max-height: 5vh;
        color: black;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: @branca;
        border-bottom: solid 1px grey;
        div {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            margin-left: 10px;
            img {
                width: 42px;
            }
            h3 {
                margin-left: 10px;
            }
        }
    }

    #conteudo {
        display: flex;
        flex-direction: column-reverse;
        section {
            max-height: 95vh;
            min-height: 95vh;
            width: 100vw;
        }
        nav {
            min-height: 5vh;
            width: 100vw;
            background-color: white;
            border-right: solid 1px grey;
            color: @fundo2;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: nowrap;
            transition: 0.8s;
            a {
                color: @fundo2;
                background-color: #eeeeee;
                font-size: larger;
                border-radius: 10px;
                text-transform: capitalize;
                text-indent: 10px;
                text-align: center;
                border-bottom: solid 1px @aceitar;
                text-decoration: none;
                width: 10%;
                margin: 10px auto;
                transition: 0.4s;
                &:hover {
                    background-color: #dddddd;
                }
            }
            @media (max-width: 1480px) {
                a {
                    font-size: 1.0rem;
                }
            }
        }
        .menu {
            left: 15vw;
        }
    }
}