<main id="model">
    
    <div id="insert-select">
        <section id="insert">
            <h2>Adicionar Acesso</h2>
            <form (submit)="submit()" [formGroup]="acessoInForm" #formDir="ngForm">
                <div class="inp">
                    <label for="diaHoraEntrada">Dia e Hora</label>
                    <input formControlName="diaHoraEntrada" type="datetime-local">
                </div>
                <div class="inp">
                    <label for="finalidade">Finalidade</label>
                    <input formControlName="finalidade" type="text" placeholder="Qual a Finalidade do Acesso">
                </div>
                <div class="inp">
                    <label for="pessoaId">ID da Pessoa</label>
                    
                    <select formControlName="pessoaId" name="pessoas" id="pessoas">
                        <option *ngFor="let pessoa of pessoas" value="{{ pessoa.id }}">{{ pessoa.nome }}</option>
                    </select>
                    
                </div>
                <div class="inp">
                    <input type="submit" value="Adicionar">
                </div>
            </form>
        </section>

        <section id="select">
            <h2>Buscar Acesso</h2>
            <div class="inp">
                <label for="buscar">Buscar por Data de Acesso</label>
                <div  class="find">
                    <input type="datetime-local" [(ngModel)]="dataBuscar">
                    <input type="submit" value="Buscar" (click)="getAcessoPorData(dataBuscar)">
                </div>
            </div>
        </section>
    </div>
    
    <section>
        <div id="head">
            <button id="reload" (click)="recaregarTabela()"><img src="/assets/icons/reload.svg" alt="reload"></button>
            <h2>Tabela de Acessos</h2>
            <button (click)="colunasE = !colunasE">Exibir Colunas Ocultas</button>
        </div>
        <table>
            <tr>
                <th>Dia e Hora de Acesso</th>
                <th>Finalidade</th>
                <th>ID da Pessoa</th>
                <th *ngIf="colunasE">Data de Criação</th>
                <th *ngIf="colunasE">Data de Alteração</th>
                <th *ngIf="colunasE">ID</th>
            </tr>
            <tbody *ngFor="let acesso of acessos.reverse()">
                <td>{{ acesso.diaHoraEntrada | date:'medium' }}</td>
                <td>{{ acesso.finalidade }}</td>
                <td>{{ acesso.pessoaId }}</td>
                <td *ngIf="colunasE">{{ acesso.createdAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ acesso.updatedAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ acesso.id }}</td>
                <div>
                    <button id="bt-editar" (click)="editarAcesso(acesso)">Editar</button>
                </div>
                <app-atualizar-acesso></app-atualizar-acesso>
            </tbody>
        </table>
    </section>

</main>