<section id="atualizar" *ngIf="atualizar.registro">
    <div id="background"></div>
    <form (submit)="submit()" [formGroup]="registroForm" #formDir="ngForm">
        <div id="head">
            <h4>Alterar Registro</h4>
            <button id="sair" (click)="atualizar.limpar()">X</button>
        </div>
        <div id="campos">
            <input formControlName="id" type="hidden" value="{{ atualizar.registro.id }}">
            <input formControlName="atividade" type="text" value="" placeholder="{{ atualizar.registro.atividade }}">
            <input formControlName="descricao" type="text" value="" placeholder="{{ atualizar.registro.descricao }}">
            <input formControlName="usuarioId" type="number" value="" placeholder="{{ atualizar.registro.usuarioId }}">
        </div>
        <div id="sub">
            <input type="submit" value="Salvar">
            <button id="bt-excluir" (click)="removeRegistro(atualizar.registro.id!)">Excluir</button>
        </div>
    </form>
</section>