<section id="atualizar" *ngIf="atualizar.usuario">
    <div id="background"></div>
    <form (submit)="submit()" [formGroup]="usuarioForm" #formDir="ngForm">
        <div id="head">
            <h4>Alterar Usuário</h4>
            <button id="sair" (click)="atualizar.limpar()">X</button>
        </div>
        <div id="campos">
            <input formControlName="id" type="hidden" value="{{ atualizar.usuario.id }}">
            <label class="alt-label">Nome de Usuário</label>
            <input formControlName="nomeUsuario" type="text" value="" placeholder="{{ atualizar.usuario.nomeUsuario }}">
            <label class="alt-label">Senha</label>
            <input formControlName="senha" type="password" value="" placeholder="{{  transform(atualizar.usuario.senha!) }}">
            <label class="alt-label">Nível de Acesso</label>
            <input formControlName="nivel" type="number" value="" placeholder="{{ atualizar.usuario.nivel }}">
            <label class="alt-label">ID da Pessoa</label>
            <input formControlName="pessoaId" type="number" value="" placeholder="{{ atualizar.usuario.pessoaId }}">    
        </div>
        <div id="sub">
            <input type="submit" value="Salvar">
            <button *ngIf="verificaNivel()" id="bt-excluir" (click)="removeUsuario(atualizar.usuario.id!)"><img id="icon-remover" src="/assets/icons/remover.svg" alt="Ícone Remover">Excluir</button>
        </div>
    </form>
</section>