/* 
 * Este arquivo contem as configurações globais de estilos
 * Os estilos aplicados aqui alteram todos os modulos e 
 * componentes. Algumas variaveis 
 */

// Cores das fontes
@branca: #ffffff;
@preta: #000000;
@link: #4ba5a5;
@sobre: #2ed6a9;
// Cores das operações
@editar: #a1c518;
@remover: #c20000;
// Cores do componente de mensagem
@aceitar: #3ab28f;
@cancelar: #de2247;
// Cores de Plano de Fundo
@fundo1: #41ac6f;
@fundo2: #153623;


// Tamanhos de larguras de telas em diferentes dispositivos
@miniphone: 486px;
@phone: 767px;
@tablet: 1023px;

#center() {
  display: flex;
  justify-content: center;
  align-items: center;
  .row {
    flex-direction: row;
  }
  .column {
    flex-direction: column;
  }
}

#artigo() {
  #center.column();
  flex-wrap: nowrap;
  h1 {
    margin: 20px 0px;
    text-align: center;
  }
  p {
    text-align: justify;
    text-indent: 20px;
  }
  ul {
    margin-left: 80px;
  }
  div {
    #center();
  }
}

#menu() {
  li {
    list-style: none;
    a {
      color: @link;
      text-decoration: none;
      &:hover {
        color: @sobre;
        text-decoration: underline;
        transition: 0.4s;
      }
    }
  }
}

#dashboard() {
  #center.column();
}

/* 
 * Estilos dos Elementos
 */
// Todos os elementos da página
* {
  position: relative;
  margin: 0;
  padding: 0;
  transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  min-width: 100dvw;
  font-family: sans-serif;
  color: @branca;
  background-image: linear-gradient(to bottom, @fundo1, @fundo2);
  z-index: -1;
  font-size: 1.2rem;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 40px 20px;
  width: 60dvw;
}

/* 
 * Configuração de layout responsivo para tables
 */
@media (max-width: @tablet) {
  .container {
    width: 80dvw;
  }
}

/* 
 * Configuração de layout responsivo para phones
 */
@media (max-width: @phone) {
  .container {
    width: 95dvw;
  }
}

/* 
 * Configuração de layout responsivo para phones
 */
@media (max-width: @miniphone) {
  .container {
    width: 100dvw;
  }
}


table {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  overflow-x: auto;

  h2 {
    text-align: center;
  }

  th {
    color: @preta;
    background-color: rgb(240, 240, 240);
    border: solid 1px @preta;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  td {
    color: @preta;
    text-indent: 10px;
    background-color: white;
    transition: 0.4s;

    &:hover {
      background-color: #e0e0e0
    }
  }

  div {
    display: flex;
    justify-content: space-evenly;
  }
}

::-webkit-scrollbar {
  display: none;
}

#sub {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;

  input,
  button {
    width: 30%;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 1s;
    font-size: large;
    margin: 0px 0px;
  }

  input {
    background-color: @editar;

    &:hover {
      background-color: darkgreen;
    }
  }

  button {
    background-color: @remover;

    &:hover {
      background-color: rgb(97, 0, 0);
    }
  }
}

#atualizar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    width: 100%;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 1s;
    opacity: 20%;
  }

  form {
    padding: 10px;
    border: solid 1px grey;
    border-radius: 20px;
    min-width: 40%;
    background-color: white;
    box-shadow: 0px 15px 30px 0px black;

    h4 {
      color: black;
    }
  }

  label {
    color: black;
  }

  input,
  #sub {
    margin: 10px;
  }

  input[type='submit'] {
    padding: 5px;
    color: white;
    border: none;
    border-radius: 10px;
  }

  #head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    #sair {
      border: black solid 1px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: black;
      background-color: @cancelar;
    }
  }

  #campos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

}

#model {
  background-image: linear-gradient(to bottom, @fundo1, @fundo2);
  min-height: 100dvh;
  section {
    padding: 10px;
    margin: 10px;
  }

  #insert-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 20px;
    input {
      width: 600px;
    }
  }

  #insert {
    form {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      font-size: 24px;
    }
  }

  #select {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
  }

  button {
    width: 90%;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 1s;
    vertical-align: middle;
  }

  #bt-editar {
    background-color: @editar;

    &:hover {
      background-color: darkgreen;
    }
  }

  #bt-excluir {
    background-color: @remover;

    &:hover {
      background-color: rgb(97, 0, 0);
    }
  }

  #update {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    div {
      background-color: white;
      margin-top: 20px;
      border-radius: 20px;
      border: solid 1px grey;
    }
  }

  input {
    border: none;
    border-bottom: solid 1px black;
    width: 60%;
    font-size: large;
    outline: none;
  }
  #icon {
    width: 42px;
    height: 42px;
    filter: invert();
  }
  #icon-editar {
    width: 22px;
    height: 22px;
    filter: invert();
  }
  #icon-remover {
    width: 22px;
    height: 22px;
    filter: invert();
  }

  #head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    #reload {
      margin-right: 20px;
      width: 40px;
      height: 40px;
      border: solid black 1px;
      border-radius: 50%;

      img {
        width: 100%;
      }

      &:hover {
        background-color: #e0e0e0;
      }
    }

    button {
      width: 200px;
      color: black;
      border: 1px solid black;
      background-color: white;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}

@media (max-width: 1480px) {
  * {
    font-size: 1rem;
  }
}

@media (max-width: 1250px) {
  * {
    font-size: 0.9rem;
  }
}

.alt-label {
  font-size: small;
  border-bottom: 1px solid black;
}

input, select {
  padding: 5px;
  margin: 0 auto;
  width: 100%;
  outline: none;
  background-color: white;
  transition: 0.6s;
  border: none;
  &:hover {
    background-color: #eeeeee;
  }
}

input[type=submit] {
  background-color: white;
  border: solid 1px black;
  border-radius: 20px;
  transition: 0.4s;
  &:hover {
    background-color: #dddddd;
  }
}

.required {
  color: red;
}

.inp {
  width: 600px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.find {
  display: flex;
  input[type=submit] {
    border-radius: 0px;
    max-width: 100px;
  }
}

.buscar {
  border-left: solid 1px black !important;
}

#bt-sair {
  margin-right: 40px;
}

body { font-family: Roboto, "Helvetica Neue", sans-serif; }
