/* 
 * Este arquivo contem as configurações globais de estilos
 * Os estilos aplicados aqui alteram todos os modulos e 
 * componentes. Algumas variaveis 
 */

// Importação das variaveis de estilo
@import "/src/styles/mixins.less";
@import "/src/styles/variables.less";

/* 
 * Estilos dos Elementos
 */
// Todos os elementos da página
* {
  position: relative;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: #cores[branca];
  background-image: linear-gradient(to bottom, @fundo1, @fundo2);
  z-index: -1;
  font-size: 1.2rem;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 40px 20px;
  width: 60vw;
}

/* 
 * Configuração de layout responsivo para tables
 */
@media (max-width: @tablet) {
  .container {
    width: 80vw;
  }
}

/* 
 * Configuração de layout responsivo para phones
 */
@media (max-width: @phone) {
  .container {
    width: 95vw;
  }
}

/* 
 * Configuração de layout responsivo para phones
 */
@media (max-width: @miniphone) {
  .container {
    width: 100vw;
  }
}

/*  
 * Elemento de carregamento de página
 */
#loader {
  margin: 100px auto;
  width: 128px;
  height: 128px;
  color: #cores[@branca];
  border-radius: 50%;
  border: white 5px inset;
  animation: loader 1s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  display: none;
}
