<main id="model">
    
    <section id="insert">
        <form action="">
            <input type="text">
            <input type="submit" value="Adicionar">
        </form>
    </section>
    
    <section id="select">
        <form action="">
            <input type="text">
            <input type="submit" value="Buscar">
        </form>
    </section>

    <section>
        <table>
            <h2>Tabela de Usuários</h2>
            <tr>
                <th>Nome Usuário</th>
                <th>Nível</th>
                <th>ID da Pessoa</th>
            </tr>
            <tbody *ngFor="let usuario of usuarios">
                <td>{{ usuario.nomeUsuario }}</td>
                <td>{{ usuario.nivel }}</td>
                <td>{{ usuario.idPessoa }}</td>
                <div>
                    <button id="bt-editar">Editar</button>
                    <button id="bt-excluir" (click)="removeUsuario(usuario.id!)">Excluir</button>
                </div>
            </tbody>
        </table>
    </section>

</main>