<main id="model">

    <section id="insert">
        <form action="">
            <input type="text">
            <input type="submit" value="Adicionar">
        </form>
    </section>

    <section id="select">
        <form action="">
            <input type="text">
            <input type="submit" value="Buscar">
        </form>
    </section>

    <section>
        <div id="head">
            <button id="reload" (click)="recaregarTabela()"><img src="/assets/icons/reload.svg" alt="reload"></button>
            <h2>Tabela de Usuários</h2>
            <button (click)="colunasE = !colunasE">Exibir Colunas Ocultas</button>
        </div>
        <table>
            <tr>
                <th>Nome de Usuário</th>
                <th>Nível</th>
                <th>ID Pessoa</th>
                <th *ngIf="colunasE">Data de Criação</th>
                <th *ngIf="colunasE">Data de Alteração</th>
            </tr>
            <tbody *ngFor="let usuario of usuarios">
                <td>{{ usuario.nomeUsuario }}</td>
                <td>{{ usuario.nivel }}</td>
                <td>{{ usuario.pessoaId }}</td>
                <td *ngIf="colunasE">{{ usuario.createdAt | date:'medium' }}</td>
                <td *ngIf="colunasE">{{ usuario.updatedAt | date:'medium' }}</td>
                <div>
                    <button id="bt-editar" (click)="editarUsuario(usuario)">Editar</button>
                </div>
                <app-atualizar-usuario></app-atualizar-usuario>
            </tbody>
        </table>
    </section>

</main>